.page-footer__wrapper {
  width: auto;
  padding-bottom: 23px;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .page-footer__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 94%;
    box-shadow: 6px 0px 15px -10px rgba(0, 0, 0, 0.3), -6px 0px 15px -10px rgba(0, 0, 0, 0.3);
  }
}

.page-footer__title {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: #000;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.page-footer__social {
  display: block;
  width: auto;
  text-align: center;
}

.social-link {
  display: inline-block;
  width: 47px;
  height: 47px;
  margin-left: 5px;
  transition: 0.5s;
  background: #81b3d2 url("../img/sprites.png");
}

.social-link--tw {
  background-position: -24px -28px;
}

.social-link--fb {
  background-position: -74px -26px;
}

.social-link--youtb {
  background-position: -125px -27px;
}

.social-link:hover {
  transition: all 0.5s ease-in-out;
  background-color: #669ec0;
}

.social-link:active {
  transition-property: background-color;
  transition-duration: 3s;
  transition-delay: 0s, 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.68, 1.34), linear;
  background-color: #5496bd;
  opacity: 0.4;
}

.page-footer__copyright {
  display: block;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 5px;
}

.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 35px;
  }
}
